body {
  overflow-x: hidden;
}

.EmployeeTableContainer {
  margin-top: 2%;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: calc(100vh - 250px); /* Adjust based on your layout */
}

.EmployeeTable {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

.EmployeeTable th,
.EmployeeTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.EmployeeTable th {
  background-color: #7fc2eb;
}

.EmployeeTable tbody tr:nth-child(even) {
  background-color: #9deaf7;
}

.TableHeading {
  color:#093f61;
  text-align: center;
  margin-top: 4%;
}

.Header {
  background-color: rgb(37, 166, 226);
  color: white;
  padding:10px;
  text-align: center;
  margin-top:-1%;
  margin-left: -1%;
  width: 100%;
}

.Footer {
  background-color: rgb(37, 166, 226);
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  box-sizing: border-box;
}

.FooterText {
  margin: 0;
  padding: 5px 0;
  box-sizing: border-box;
}

.btn {
  background-color: rgb(37, 166, 226);
  margin-left: -0.5%;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  border: none;
  transition: background-color 0.2s ease;
}

.btn2 {
  margin-left: 90px;
  background-color: rgb(37, 166, 226);
  padding: 10px;
  color: white;
  border-radius: 5px;
  border: none;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: darkblue;
}

.btn1{
  margin-left: 10px;
  background-color: rgb(5, 86, 123);
  padding: 10px;
  color: white;
  border-radius: 5px;
  border: none;
  transition: background-color 0.2s ease;
}

.btn1:hover {
  background-color: darkblue;
}

.btn2:hover {
  background-color: darkblue;
}

.DepartmentLink {
  margin-left: 10px; 
  color:white;
}

.DepartmentLink1 {
  margin-left: 10px;
  color:white;
}